<div class="container">
        <div class="row">
            <section class="admin">
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Menu
                        </div>

                        <ul class="nav nav-pills nav-stacked">
                            <li><a href=""><i class="glyphicon glyphicon-pencil"></i> 購入履歴一覧</a></li>
                            <li><a href=""><i class="glyphicon glyphicon-download"></i> ユーザー一覧</a></li>
                            <li><a href=""><i class="glyphicon glyphicon-leaf"></i> 在庫一覧</a></li>
                            <li><a href=""><i class="glyphicon glyphicon-folder-open"></i> 新規在庫追加</a></li>
                        </ul>
                    </div>
                </div>
                <!-- main -->
                <div class="page-header">
                    <h1><small>購入履歴詳細</small>
                        <a href="" class="btn btn-primary btn-xs">編集</a>
                        <a href="" class="btn btn-primary btn-xs">削除</a>
                    </h1>
                </div>
                <div class="col-md-9">
                    <h1><small>購入情報</small></h1>
                    <table class="table table-hover">
                        　<tr><th>ステータス</th><td>発送済</td></tr>
                        　<tr><th>購入者名</th><td><a href="">ほげ</a></td></tr>
                        <tr><th>購入日</th><td>2017-08-10</td></tr>
                        <tr><th>受取主</th><td>花子</td></tr>
                        <tr><th>郵便番号</th><td>333−3333</td></tr>
                        <tr><th>配送先住所</th><td>東京都板橋区阿佐ヶ谷2222−22</td></tr>
                        <tr><th>支払い方法</th><td>カード</td></tr>
                        <tr><th>配送方法</th><td>通常便</td></tr>
                        <tr><th>合計枚数</th><td>10</td></tr>
                        <tr><th>合計金額</th><td>¥10,000</td></tr>
                    </table>



                <div class="history-item">
                    <h1><small>購入商品情報</small></h1>
                    <div class="col-md-2">
                        <a href="">
                            <img class ="item-image" src="fickle_friends.jpg">
                        </a>
                    </div>
                    <div class="col-md-7 pull-right">
                        <table class="table table-bordered">
                            <tr><th>No</th><td>1</td></tr>
                            <tr><th>商品名</th><td><a href="">Brooklyn</a></td></tr>
                            <tr><th>アーティスト</th><td>Fickle Friends</td></tr>
                            <tr><th>形式</th><td>CD</td></tr>
                            <tr><th>ジャンル</th><td>ロック</td></tr>
                            <tr><th>レーベル</th><td>aaaaa</td></tr>
                            <tr><th>価格</th><td>¥1,000</td></tr>
                            <tr><th>数量</th><td>5</td></tr>
                        </table>
                    </div>
                </div>

                <div class="history-item">
                    <div class="col-md-2">
                        <a href="">
                            <img class ="item-image" src="seeb.jpeg">
                        </a>
                    </div>
                    <div class="col-md-7 pull-right">
                        <table class="table table-bordered">
                            <tr><th>No</th><td>2</td></tr>
                            <tr><th>商品名</th><td><a href="">Simple Life</a></td></tr>
                            <tr><th>アーティスト</th><td>Seeb</td></tr>
                            <tr><th>形式</th><td>CD</td></tr>
                            <tr><th>ジャンル</th><td>ロック</td></tr>
                            <tr><th>レーベル</th><td>aaaaa</td></tr>
                            <tr><th>価格</th><td>¥1,000</td></tr>
                            <tr><th>数量</th><td>5</td></tr>
                        </table>
                    </div>
                </div>





                </div>
            </div>


        </div>



        <p class="text-muted text-center">&copy; 2017-2018</p>

    </section>
</div>
</div>
