<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="application.css">
    <!--CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <!--JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <title>Admin 在庫詳細</title>
</head>

<body>
    <header></header>

    <div class="container">
        <div class="row">
            <section class="admin">
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Menu
                        </div>

                        <ul class="nav nav-pills nav-stacked">
                            <li><a href=""><i class="glyphicon glyphicon-pencil"></i> 購入履歴一覧</a></li>
                            <li><a href=""><i class="glyphicon glyphicon-download"></i> ユーザー一覧</a></li>
                            <li><a href=""><i class="glyphicon glyphicon-leaf"></i> 在庫一覧</a></li>
                            <li><a href=""><i class="glyphicon glyphicon-folder-open"></i> 新規在庫追加</a></li>
                        </ul>
                    </div>
                </div>
                <!-- main -->
                <div class="page-header">
                    <h1><small>在庫詳細</small>
                        <a href="" class="btn btn-primary btn-xs">編集</a>
                        <a href="" class="btn btn-primary btn-xs">削除</a>
                    </h1>
                </div>
                <div class="col-md-4">
                    <a href="">
                        <img class ="item-image" src="fickle_friends.jpg">
                    </a>
                </div>


                <div class="col-md-5">


                    <table class="table table-hover">
                        　<tr><th>商品名</th><td>Brooklyn</td></tr>
                        <tr><th>アーティスト</th><td>Fickle Friends</td></tr>
                        <tr><th>形式</th><td>CD</td></tr>
                            　<tr><th>ジャンル</th><td>ロック</td></tr>
                              <tr><th>発売日</th><td>2017-08-10</td></tr>
                                  <tr><th>レーベル</th><td>aaaaa</td></tr>
                                  <tr><th>価格</th><td>¥1,000</td></tr>
                                  <tr><th>在庫数</th><td>100</td></tr>
                                  <tr><th>在庫追加</th><td><input type="number" name="example" min="0" max="500" value="0"><a href="" class="btn btn-primary btn-xs">更新</a></td></tr>
                              </table>

                              <div class="admin">
                                  <h1><small>曲名一覧</small></h1>

                                  <table class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>曲名</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>01</td><td>aaaa</td>
                                        </tr>
                                        <tr>
                                            <td>02</td><td>aaaa</td>
                                        </tr>
                                        <tr>
                                            <td>03</td><td>aaaa</td>
                                        </tr>
                                        <tr>
                                            <td>04</td><td>aaaa</td>
                                        </tr>
                                        <tr>
                                            <td>05</td><td>aaaa</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                </div>



        <p class="text-muted text-center">&copy; 2017-2018</p>

    </section>
</div>
</div>



</body>

</html>