<div class="col-lg-3 side_bar">
    <div class="panel panel-default">
        <h3 class="panel-heading">
            ジャンル
        </h3>
        <ul class="nav nav-pills nav-stacked">
            <% @genres.each do |genre| %>
            <li><%= link_to genre.genre_name, genres_path(genre_name: genre.genre_name), method: :post %></li>
            <% end %>

        </ul>
        <h3 class="panel-heading">タイプ</h3>
        <ul class="nav nav-pills nav-stacked">
            <% @types.each do |type| %>
            <li><%= link_to type.category_name, items_path(type.id) %></li>
            <% end %>
        </ul>

    </div>
</div>


