<div class="col-lg-3 col-md-3">
    <div class="container-left">
        <h3 class="container-left__title">カテゴリー</h3>
        <ul>
            <li>w</li>
            <li>w</li>
            <li>w</li>
        </ul>
        <h3 class="container-left__title">ジャンル</h3>
        <ul>
            <li>w</li>
            <li>w</li>
            <li>w</li>
        </ul>
        <h3 class="container-left__title">タイプ</h3>
        <ul>
            <li>w</li>
            <li>w</li>
            <li>w</li>
        </ul>
    </div>
</div>