<div class="container">
    <div class="row">
        <div class="thanks col-lg-12">
            <p class="first-message">購入完了！</p>
            <p class="second-message">お買い上げありがとうございました。<br>
                引き続きお買い物を楽しんでください
            </p>
            <%= link_to 'ホームへ戻る', root_path, class: "btn my-2 my-sm-0 btn__color" %>
        </div>
    </div>
</div>
