              <%= render 'users/side_bar' %>

              <div class="col-lg-9 col-md-9">

                <div class="container-right">
                  <h1 class="container-right__title text-center">個人情報</h1>

                  <div class="container-right__user-info__history">
                    <h2 class="container-right__user-info__history__title text-center">購入履歴</h2>
                    <h3 class="container-right__user-info__history__date">2018/02/22</h3>
                    <h4 class="container-right__user-info__history__title">ruby</h4>
                    <table class="table">
                      <thead>
                        <tr>
                          <th></th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th>名前</th>
                          <td>Ruby</td>
                        </tr>
                        <tr>
                          <th>アーティスト名</th>
                          <td>Ruby on rails</td>
                        </tr>
                        <tr>
                          <th>値段</th>
                          <td>9999円</td>
                        </tr>
                        <tr>
                          <th>個数</th>
                          <td>3個</td>
                        </tr>
                        <tr>
                          <th>制作会社</th>
                          <td>プログラミング協会</td>
                        </tr>
                        <tr>
                          <th>リリース日</th>
                          <td>2018/02/18</td>
                        </tr>
                      </tbody>
                    </table>
                    <h4 class="container-right__user-info__history__title">ruby</h4>
                    <table class="table">
                      <thead>
                        <tr>
                          <th></th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th>名前</th>
                          <td>Ruby</td>
                        </tr>
                        <tr>
                          <th>アーティスト名</th>
                          <td>Ruby on rails</td>
                        </tr>
                        <tr>
                          <th>値段</th>
                          <td>9999円</td>
                        </tr>
                        <tr>
                          <th>個数</th>
                          <td>3個</td>
                        </tr>
                        <tr>
                          <th>制作会社</th>
                          <td>プログラミング協会</td>
                        </tr>
                        <tr>
                          <th>リリース日</th>
                          <td>2018/02/18</td>
                        </tr>
                      </tbody>
                    </table>

                  </div>

                </div>
              </div>