<div class="container">
        <div class="row">
            <section class="admin">
            <div class="col-md-3">
        <div class="panel panel-default">
                <div class="panel-heading">
                    Menu
                </div>

                <ul class="nav nav-pills nav-stacked">
                    <li><a href=""><i class="glyphicon glyphicon-pencil"></i> 購入履歴一覧</a></li>
                    <li><a href=""><i class="glyphicon glyphicon-download"></i> ユーザー一覧</a></li>
                    <li><a href=""><i class="glyphicon glyphicon-leaf"></i> 在庫一覧</a></li>
                    <li><a href=""><i class="glyphicon glyphicon-folder-open"></i> 新規在庫追加</a></li>
                </ul>
            </div>
            </div>
             <!-- main -->
            <div class="col-md-9">
            <!-- apply custom style -->
            <div class="page-header" style="margin-top:-30px;padding-bottom:0px;">
            <h1><small>在庫一覧</small>
                <form class="navbar-form navbar-right" role="search">
                            <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                            </form>
            </h1>
            </div>


                <!-- この単位を繰り返す -->
                <div class="col-md-4">
                    <div class="thumbnail" style="text-align:center;padding-top:10px;">
                        <a href="">
                            <img src="fickle_friends.jpg">
                        </a>
                        <div class="caption">
                            <p><b>Brooklyn</b></p>
                            <p>Fickle Friends</p>
                            <p>形式：CD</p>
                            <p>在庫数：45</p>
                            <p>金額：¥1,000</p>
                            <p style="margin-bottom:0px">
                                <a href="" class="btn btn-primary">詳細</a>
                                <a href="" class="btn btn-primary">編集</a>
                                <a href="" class="btn btn-primary">削除</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail" style="text-align:center;padding-top:10px;">
                        <a href="">
                            <img src="fickle_friends.jpg">
                        </a>
                        <div class="caption">
                            <p><b>Brooklyn</b></p>
                            <p>Fickle Friends</p>
                            <p>形式：CD</p>
                            <p>在庫数：45</p>
                            <p>金額：¥1,000</p>
                            <p style="margin-bottom:0px">
                                <a href="" class="btn btn-primary">詳細</a>
                                <a href="" class="btn btn-primary">編集</a>
                                <a href="" class="btn btn-primary">削除</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail" style="text-align:center;padding-top:10px;">
                        <a href="">
                            <img src="fickle_friends.jpg">
                        </a>
                        <div class="caption">
                            <p><b>Brooklyn</b></p>
                            <p>Fickle Friends</p>
                            <p>形式：CD</p>
                            <p>在庫数：45</p>
                            <p>金額：¥1,000</p>
                            <p style="margin-bottom:0px">
                                <a href="" class="btn btn-primary">詳細</a>
                                <a href="" class="btn btn-primary">編集</a>
                                <a href="" class="btn btn-primary">削除</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail" style="text-align:center;padding-top:10px;">
                        <a href="">
                            <img src="fickle_friends.jpg">
                        </a>
                        <div class="caption">
                            <p><b>Brooklyn</b></p>
                            <p>Fickle Friends</p>
                            <p>形式：CD</p>
                            <p>在庫数：45</p>
                            <p>金額：¥1,000</p>
                            <p style="margin-bottom:0px">
                                <a href="" class="btn btn-primary">詳細</a>
                                <a href="" class="btn btn-primary">編集</a>
                                <a href="" class="btn btn-primary">削除</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail" style="text-align:center;padding-top:10px;">
                        <a href="">
                            <img src="fickle_friends.jpg">
                        </a>
                        <div class="caption">
                            <p><b>Brooklyn</b></p>
                            <p>Fickle Friends</p>
                            <p>形式：CD</p>
                            <p>在庫数：45</p>
                            <p>金額：¥1,000</p>
                            <p style="margin-bottom:0px">
                                <a href="" class="btn btn-primary">詳細</a>
                                <a href="" class="btn btn-primary">編集</a>
                                <a href="" class="btn btn-primary">削除</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail" style="text-align:center;padding-top:10px;">
                        <a href="">
                            <img src="fickle_friends.jpg">
                        </a>
                        <div class="caption">
                            <p><b>Brooklyn</b></p>
                            <p>Fickle Friends</p>
                            <p>形式：CD</p>
                            <p>在庫数：45</p>
                            <p>金額：¥1,000</p>
                            <p style="margin-bottom:0px">
                                <a href="" class="btn btn-primary">詳細</a>
                                <a href="" class="btn btn-primary">編集</a>
                                <a href="" class="btn btn-primary">削除</a>
                            </p>
                        </div>
                    </div>
                </div>




            </div>


        <nav class ="text-muted text-center">
          <ul class="pagination">
            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            <li class="disabled"><a href="#">2 <span class="sr-only">(current)</span></a></li>
            <li class="disabled"><a href="#">3 <span class="sr-only">(current)</span></a></li>
            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
          </ul>
        </nav>

                <p class="text-muted text-center">&copy; 2017-2018</p>
        </div>

</section>
</div>
</div>

