// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* mainVisual from here */
.mainVisual{
  height: 400px;
  width: 100%;
  background-image: url('top_image.png');
  background-size: cover;
  background-position: 0% 35%;
}

/* container from here */

.container-left{
  margin: 10px 0 0 10px;
  padding: 10px 30px;
  border:1px #afafaf solid;
}
.container-right{
  margin: 10px 0 0 10px;
}
.container-right__contents{
  padding: 10px;
  border:1px #ce93d8 solid;
  margin: 20px 30px;
}
.container-right__contents:hover{
  background-color: rgba(206,147,216,0.1);
}
.container-right__contents__img{
  width: 150px;
  height: 100px;
}

/* container from here */

.container-left{
  margin: 10px 0 0 10px;
  padding: 10px 30px;
  border:1px #afafaf solid;
}

.container-right__img-item{
  height: 200px;
  width: 250px;
}
