// Place all the styles related to the purchases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.thanks{
  text-align: center;
  padding: 70px 0;
  line-height: 2.0;
}
.first-message{
  font-size: 30px;
}
.second-message{
  margin-bottom: 20px;
}
