// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




header{
  height: 50px;
}
.header__logo{
  display: inline-block;
  margin: 0px 0px 0px 20px !important;
}
.navbar{
  margin-bottom: 0 !important;
}
.header__nav--btn{
  display: inline-block;
  padding: 35px;
  color: #ce93d8;
  transition: 0.3s;
}
.header__nav--btn:hover{
  color: #ffffff;
  background-color: #ce93d8;
}
.header__nav--search{
  margin: 10px 5px 0 5px;
}

.form-signup {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: 0 auto;
}

.form_area {
	margin: 100px;
}


/*user詳細*/
.user_info{
	margin-bottom: 50px;
}

/*sidebar*/
.side_bar {
	margin-top: 70px;
}

/*user edit*/
.user_edit {
	margin-top: 70px;
}
.form-mypage-edit {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: 0 auto;
}