<div class="form-mypage-edit">
	<br>
	<h2 class="text-center">本当に退会しますか？</h2>
	<br>
	<br>
	<div class="center-block">
		<%= link_to '退会する', user_registration_path, method: :delete, class: "btn btn-danger center-block"  %>
		<br>
		<%= link_to '戻る', items_path, class: 'btn btn-primary glyphicon center-block' %>
	</div>
	

</div>